<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Choose a cocktail</h1>
      <% @cocktails.order(:name).each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category"><%= link_to cocktail.name.downcase, cocktail_path(cocktail) %></div>
            <img class="card-user avatar" src="user.jpg">
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="card">
          <h3 class="text-center"><%= link_to "Add a new cocktail", new_cocktail_path %></p></h3>
        </div>
      </div>
    </div>
  </div>
</div>


