<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card">
          <h1>See all cocktails containing:</h1>
          <h2 id="blue-font"> <%= @ingredient.name %></h2>
          <ul class="list-unstyled text-center" id="ingredient-list">
            <% @ingredient.cocktails.each do |cocktail| %>
              <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


