// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "layout/footer";
@import "components/index";
@import "pages/index";
@import "components/card";

body {
  background-color: #edf0f2;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
p, a {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
hr {
  width: 50%;
}
a:hover {
  font-size: 22px;
}
.padded {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
#restaurant-list {
  padding-left: 80px;
}

